<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <h3>Customer Buying Propensity Form</h3>


<div>
    <form action="/result" method="POST">
        <label for="PageValues">PageValues</label>
        <input type="text" id="PageValues" name="PageValues">
        <br>
        <br>
        <label for="ProductRelated_Duration">ProductRelated_Duration</label>
        <input type="text" id="ProductRelated_Duration" name="ProductRelated_Duration">
        <br>
        <br>
        <label for="ExitRates">ExitRates</label>
        <input type="text" id="ExitRates" name="ExitRates">
        <br>
        <br>
        <label for="ProductRelated">ProductRelated</label>
        <input type="text" id="ProductRelated" name="ProductRelated">
        <br>
        <br>
        <label for="Administrative_Duration">Administrative_Duration</label>
        <input type="text" id="Administrative_Duration" name="Administrative_Duration">
        <br>
        <br>
        <label for="BounceRates">BounceRates</label>
        <input type="text" id="BounceRates" name="BounceRates">
        <br>
        <br>
        <label for="Month">Month</label>
        <input type="text" id="Month" name="Month">
        <br>
        <br>
        <label for="Administrative">Administrative</label>
        <input type="text" id="Administrative" name="Administrative">
        <br>
        <br>
        <label for="TrafficType">TrafficType</label>
        <input type="text" id="TrafficType" name="TrafficType">
        <br>
        <br>
        <label for="Region">Region</label>
        <input type="text" id="Region" name="Region">
        <br>
        <br>
        <label for="Weekend">Weekend</label>
        <input type="text" id="Weekend" name="Weekend">
        <br>
        <br>
        <label for="SpecialDay">SpecialDay</label>
        <input type="text" id="SpecialDay" name="SpecialDay">
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
        
    </form>
    
    <br>
    <br>
    {{ prediction_text }}
</div>
</body>
</html>
